input.error {
    background-color: rgb(255, 231, 231);
}

.friendsList .selected {
    color: rgb(91, 41, 113);
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}